.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;

    &__container {
        margin-top: 10px;
        display: flex;
        gap: 5px;
        position: relative;
        border-radius: 10px;
        transition: all ease-in-out 0.5s;
    
        &:first-child {
            margin-left: 10px;
        }
    
        &:last-child {
            margin-right: 10px;
        }
    
        &__img {
            width: calc(25% - 10px);
            height: auto;
            object-fit: cover;
            border-radius: 10px;
            border: 2px solid white;
            transition: all ease-in-out 0.5s;
            position: relative;
            cursor: pointer;

            &.expanded {
                width: 25%;
            }
    
            &:hover {
                z-index: 10;
                transform: scale(1.1);
            }
        }
    
        @media (max-width: 768px) {
            margin-left: 10px;
    
            &__img {
                margin-bottom: 10px;
                width: calc(25% - 8px);
                height: auto;
    
                &:hover {
                    z-index: 10;
                    transform: perspective(1000px) scale(1.5) translateZ(30px); 
                }
            }
        }
    
        @media (min-width: 768px) and (max-width: 1024px) {
            margin-left: 10px;
            gap: 2px;
    
            &__img {
                margin-bottom: 10px;
                width: calc(25% - 15px);
                height: 100%;
    
                &:hover {
                    z-index: 10;
                    transform: perspective(500px) scale(1.5) translateZ(40px); 
                }
            }
        }
    }
}
