
.footer{
    padding: 26px auto;
    font-family: "Nunito", serif;
    font-size: 12px;
    color:#4d474f;


    &__container{
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 20px;



            &__img{
            width: 250px;
            margin: 0 auto 10px;
            }
    }


    @media (max-width: 768px){
        font-size: 11px;
    }
}
