@use 'variaveis';
@use 'header';
@use 'hero';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", serif;
    list-style: none;
}

body{
    background-color: variaveis.$corDeFundo;
}

@mixin title ($fontSize: 40px){
    @include text($fontSize);
    color:variaveis.$corTextoSecundario
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color:variaveis.$corTextoPrincipal;
    
}


.text {
    @include text;

    @media (max-width: 768px) {
        @include text(15px);
    }

    &--big {
        @include text(18px);

        @media (max-width: 768px) {
            @include text(14px);
        }
    };

    &--small {
        @include text(12px);

        @media (max-width: 768px) {
            @include text(11px);
        }
    }
}

.title{
    @include title;

    @media (max-width: 768px) {
        @include title(24px);
    }

    &--big{
        @include title(44px);

        @media (max-width: 768px) {
            @include title(26px);
        }
    };

    &--small{
        @include title(28px);

        @media (max-width: 768px) {
            @include title(22px);
        }
    }
}
