@use 'variaveis';
@use 'header';
@use 'hero';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", serif;
    list-style: none;
}

body{
    background-color: variaveis.$corDeFundo;
}

@mixin title ($fontSize: 40px){
    @include text($fontSize);
    color:variaveis.$corTextoSecundario
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color:variaveis.$corTextoPrincipal;
    
}


.text {
    @include text;

    @media (max-width: 768px) {
        @include text(15px);
    }

    &--big {
        @include text(18px);

        @media (max-width: 768px) {
            @include text(14px);
        }
    };

    &--small {
        @include text(12px);

        @media (max-width: 768px) {
            @include text(11px);
        }
    }
}

.title{
    @include title;

    @media (max-width: 768px) {
        @include title(24px);
    }

    &--big{
        @include title(44px);

        @media (max-width: 768px) {
            @include title(26px);
        }
    };

    &--small{
        @include title(28px);

        @media (max-width: 768px) {
            @include title(22px);
        }
    }
}

.image-text-section{
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5px;

    @media (max-width: 768px) {
        display: block;
    }

    img{
        max-width: 100%;
    }

    &__text_container{
        padding: 0.2vw;

        h2{
            margin-bottom: 24px;
        }

    }

    &--image-full-width{
        display: block;
        position: relative;

        img{
            width: 100%;
        }

        &__text_container{
            position: absolute;
            top: 0vw;
            left: 50%;
            height: 100%;
            width: calc(50% - 5.6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 768px) {
                position: relative;
                left: 0;
                width: 100%;
            }
        }
    }
}